#
# Releaser workflow setup
# https://goreleaser.com/ci/actions/
#
name: release

# run only on tags
on:
  push:
    tags:
      - 'v*'  # Run pn Push tag 

permissions:
   contents: write # needed to write releases
   id-token: write # needed for keyless signing
   packages: write # needed for ghcr access

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # this is important, otherwise it won't checkout the full tree (i.e. no previous tags)
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21    # Go version
          cache: true
      - uses: sigstore/cosign-installer@v3.1.2         # installs cosign
      - uses: anchore/sbom-action/download-syft@v0.14.3 # installs syft
      - uses: anchore/sbom-action/publish-sbom@v0        # Publish SBOM
        with:
          sbom-artifact-match: ".*\\.spdx$"
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: goreleaser/goreleaser-action@v5          # run goreleaser
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: verify signatures
        run: |
          cosign verify-blob --certificate-identity-regexp='^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$' \
          --cert checksums.txt.pem --signature checksums.txt.sig checksums.txt 
          
        
      